@import '~@fluentui/react/dist/sass/References.scss';

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.leftPanel {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.rightPanel {
  flex: 1;
}

.container {
  padding: 20px;
  font-family: Arial;
}

.pagecontainer {
  padding: 20px;
  font-family: Segoe UI, Arial;
}

/* 🔷 Header */
.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.headerright {
  display: flex;
  align-items: center;
  gap: 20px;
}

.breadcrumb {
  color: #666;
  font-size: 14px;
}

/* 🔴 Add Button */
.btnadd {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 70%;
}

/* 🔍 Search Panel */
.searchbox {
  margin-top: 15px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.searchboxh3 {
  margin-bottom: 10px;
}

/* Row */
.searchrow {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

/* Field */
.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fieldlabel {
  margin-bottom: 5px;
  font-size: 14px;
}

.fieldselect {
  height: 38px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px;
}

/* Search Button */
.btnarea {
  //display: flex;
  //align-items: flex-end;
  //justify-content: flex-end;
  margin-top: 1%;
}

.btnsearch {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15%;
}
input, textarea, select {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}