@import '~@fluentui/react/dist/sass/References.scss';
.container {
  padding: 5px;
  background: #f3f3f3;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #ea6674;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown {
  min-width: 220px;
  height: 40px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #ea6674;
  padding: 5px;
  margin-bottom: 30px;

  a {
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
  }
}
.digiflowMenu {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.iconImg {
  height: 15px;
}

.menuHaeding {
  font-size: 17px;
  font-weight: 500;
  margin-left: 5px;
  vertical-align: middle;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}