.commandBarWrapper {
    display: none !important;
}

#spSiteHeader {
    display: none !important;
}

.CommentsWrapper {
    display: none !important;
}

/* Hide menu dropfown icon */

#basic-nav-dropdown::after {
    display: none !important;
}